body{
  grid-template-columns: auto;
  background-color:rgb(255, 187, 187);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:3px;
  padding:20px;
  background-image: url('./chores.png');
  background-repeat: no-repeat;
  background-size: 300px 100px;
  background-position: 45% 10%;
  
}
.link1 {
  position: relative;
  left: 50px;

}
.link2 {
  position: relative;
  left: 550px;
  bottom: 20px;
  

}

.Home {
  position: relative;
  left: 280px;
  top: 50px;
}
.pic {
  background-image: url('appletree.jpg');
  border-radius: 50%;

}

.password {
  padding: 30px;
}