body{
  grid-template-columns: auto;
  background-color:rgb(255, 187, 187);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:3px;
}
.link1 {
  position: absolute;
  left: 15%;

}

.link2 {
  position: absolute;
  right: 15%;
  
}

.Home {
  font-size: 1.5rem;
  position: absolute;
  left: 10%;
  top: 40%;
}
.Home2 {
  font-size: 1.5rem;
  position: absolute;
  left: 42%;
  top: 70%;
}
.chorepic {
  position: absolute;
  right: 33%;
  background-image: url('appletree.jpg');
  border-radius: 50%;
  

}
.pic {
  position: absolute;
  right: 10%;
  background-image: url('appletree.jpg');

}

.password {
  padding: 30px;
}

.todos {
  margin-top: 20px;
  position: absolute; 
  right:-20%;
  top: 80%;
  padding: 20px
}

.list {
  margin-top: 20px;
  position: absolute;
  left: 5%;
  top: 40%;
}

.signup {
  position: absolute;
  top: 40%;
  left: 10%;
}

.You {
  margin: 10px;
}

.login {
  position: absolute;
  top: 30%;
}