body{
  grid-template-columns: auto;
  background-color:rgb(255, 187, 187);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:3px;
  padding:20px;
  background-image: url('./chores.png');
  background-repeat: no-repeat;
  background-size: 300px 100px;
  background-position: 45% -40%;
  
}
.link1 {
  position: absolute;
  left: 15%;

}

.link2 {
  position: absolute;
  right: 5%;
  
}

.Home {
  position: absolute;
  left: 12%;
  top: 35%;
}
.pic {
  position: absolute;
  right: 40%;
  background-image: url('appletree.jpg');
  border-radius: 50%;

}

.password {
  padding: 30px;
}

.todos {
  position: absolute;
  left: 40%;
  top: 40%;
  padding: 20px
}